body{
	font-family: "Helvetica","Arial",serif;
	color: #333;
	background-color: #ccc;
	margin:10px 9%;

}
h1{
	color: #333;
	background-color: transparent;
}
p{
	font-size: 20px;
	font-weight: bold;
}
a{
	color: #c60;
	background-color: transparent;
	font-weight: bold;
	text-decoration: none;
}
ul{
	padding:0;

}
li{
	float: left;
	margin:20px;
	list-style: none;
}
#imagegallery img{
	width: 200px;
	height: 150px;
	margin:2%;
}
#imagegallery{
	list-style: none;
}
#imagegallery li{
	display: inline;
}
#imagegallery li a img{
	border:0;
}